/* .page-container {
    position: relative;
    min-height: 100vh;
    
  } */
  
  /* .content-wrap {
    padding-bottom: 50px;
  } */
  
  footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    background-color: #9D8189;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}


